- name: Initializing the custom variables used in branching  
  vars:
  set_fact:
    volume: none
    ltm: none
    all_hosts: []
    bigips_standby_status: {}
    active_standby_ha_pairs: {}
    standby_host: False
  tags:
    - always

# - name: Make Directory for all UPGRADES related files
#   shell:  test -d "{{ UPGRADES }}" || mkdir "{{ UPGRADES }}" 
#   tags:
#     - always



# - name: Make Directory on local system to store .ucs and .qkview files
#   shell:  test -d "{{ BACKUPS }}" || mkdir "{{ BACKUPS }}" 
#   tags:
#     - always

# - name: Make Directory on local system to store temporary files
#   shell:  test -d "{{ TMP }}" || mkdir "{{ TMP }}" 
#   tags:
#     - always

